*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Kalam", cursive;
    font-style: normal;
}

.header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    /* position: sticky;
    top: 0px; */
}
#logo{
    height: 100px;
    width: 100px;
}
.navlinks{
    padding: 30px;
}
.navlinks>a{
    margin-right: 30px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    transition: font-size 1s;
}
.navlinks>a:hover{
    font-size: 35px;
    color: red;
}

@media screen and (max-width: 600px) {
    .header{
        padding: 0px;
    }
    #logo{
        height: 55px;
        width: 50px;
    }
    .navlinks{
        padding: 15px;
    }
    .navlinks>a{
        margin-right: 17px;
        font-size:10px;
    }
    .navlinks>a:hover{
        font-size: 15px;

    }
  }
  @media screen and (max-width: 400px) {
    .header{
        padding: 0px;
    }
    #logo{
        height: 55px;
        width: 50px;
    }
    .navlinks{
        padding: 15px;
    }
    .navlinks>a{
        margin-right: 17px;
        font-size:10px;
    }
    .navlinks>a:hover{
        font-size: 15px;

    }
  }
#home{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
}
.desc{
    padding: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#cv{
    background-color: black;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    margin-left: 80px;
}
.sociallinks{
    padding-left: 132px;
}
.sociallinks>a {
    color: black;
    text-decoration: none;
}
#name{
    color: rgb(80, 80, 148);
}
#greeting{
    margin-left: 85px;
}
#role{
    margin-left: 15px;
}
.imgcontainer{
    position: relative;
}
.img1{
  width: 100%;
  position: relative;
}
.img2{
    width: 60%;
    position: absolute;
    left: 100px;
    bottom:0px ;
    transition: width 1s;
}
.img2:hover{
    width: 70%;
}

@media screen and (max-width: 600px) {
    .desc{
        padding: 20px;
        font-size: 15px;
    }
    #cv{
        margin-left: 55px;
    }
    .sociallinks{
        padding-left: 90px;
    }
    #greeting{
        margin-left: 60px;
    }
    .img2{
        left: 70px;
    }
  }


  @media screen and (max-width: 400px) {
    .desc{
        padding: 20px;
        font-size: 15px;
    }
    #cv{
        margin-left: 0px;
    }
    .sociallinks{
        padding-left: 25px;
    }
    #greeting{
        margin-left: 0px;
    }
    #role{
        margin-left: 0px;
    }
    .img2{
        top: 40px;
        left: 40px;
    }
  }

#about{
    padding: 30px;
    margin-top: 70px;
    margin-bottom: -110px;
}
#about>h1{
    margin-top: 30px;
    margin-bottom: 90px;
    text-align: center;
}
.abtcontainer{
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
}
.ExpandEdu{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.ExpandEdu>div{
    margin-top: 20px;
    border: 2px solid #000;
    padding: 20px;
    width: 45%; 
    border-radius: 10px
}
#award{
    padding-left: 100px;
}
#graduate{
    padding-left: 100px;
}
.Exp>h3{
    padding-left: 57px;
}
.Exp>p{
    padding-left: 26px;
}
#mon{
    padding-left: 42px;
}
.edu>h3{
    padding-left: 59px;
}
.edu>p{
    padding-left: 20px;
}
#abtimg{
    width: 100%;
    height: 70%;
}
.abtinfo{
    padding-left: 30px;
}
.abtinfo>p{
    text-align: justify;
}

@media screen and (max-width: 600px) {
    #about{
        padding: 30px;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    .abtcontainer{
        padding: 0px;
        display: grid;
        grid-template-columns: 100%;
    }
    .ExpandEdu{
        display: flex;
        justify-content:space-between;
    }
    .ExpandEdu>div{
        margin-top: 20px;
        padding: 25px;
        width: 100%; 
        border-radius: 10px
    }
    #award{
        padding-left: 70px;
    }
    #graduate{
        padding-left: 70px;
    }
    .Exp>h3{
        padding-left: 25px;
    }
    .Exp>p{
        padding-left: 25px;
    }
    #mon{
        padding-left: 15px;
    }
    .edu>h3{
        padding-left: 35px;
    }
    .edu>p{
        padding-left: 15px;
    }
    #abtimg{
        width: 0%;
        height: 0%;
    }

  }

  @media screen and (max-width: 400px) {
    #about{
        padding: 10px;
        margin-top: 70px;
        margin-bottom: 30px;
    }
    #about>h1 {
        margin-top: -20px;
        margin-bottom: 90px;
        text-align: center;
    }
    .abtinfo {
        padding-left: 5px;
    }
    .abtcontainer{
        padding: 0px;
        display: grid;
        grid-template-columns: 100%;
    }
    .ExpandEdu{
        display: flex;
        justify-content:start;
    }
    .ExpandEdu>div{
        margin-top: 0px;
        padding: 7px;
        width: 100%;
        border-radius: 10px;
    }
    #award{
        padding-left: 70px;
    }
    #graduate{
        padding-left: 70px;
    }
    .Exp>h3{
        padding-left: 25px;
    }
    .Exp>p{
        padding-left: 25px;
    }
    #mon{
        padding-left: 15px;
    }
    .edu>h3{
        padding-left: 35px;
    }
    .edu>p{
        padding-left: 15px;
    }
    #abtimg{
        width: 0%;
        height: 0%;
    }

  }



#skills{
    background-image: url(./images/img12.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 50%;
}
.lang{
    display: grid;
    grid-template-columns: 50% 50%;
}

#skills>h1{
    text-align: center;
    padding-bottom: 30px;
}
.lang>div{
    margin-top: 45px;
    border: 2px solid #000;
    padding: 20px;
    width: 45%; 
    border-radius: 10px
}
.pl{
    margin-left: 290px;
}
.wd{
    margin-left: 50px;
}
.db{
    margin-left: 290px;
}
.tools{
    margin-left: 50px;
}

@media screen and (max-width: 600px) {
    #skills{
        background-size: 0%;
        background-position: 0%;
    }
    .lang{
        display: grid;
        grid-template-columns: 100%;
    }
    .lang>div{
        padding: 10px;
        width: 50%; 
        margin-left: 125px;
    }
  }
  @media screen and (max-width: 400px) {
    #skills{
        background-size: 0%;
        background-position: 0%;
    }
    .lang{
        display: grid;
        grid-template-columns: 100%;
    }
    .lang>div{
        padding: 10px;
        width: 50%; 
        margin-left: 90px;
    }
  }


#projects>h1{
    margin-bottom: -48px;
    text-align: center;
    margin-top: 130px;
}
.latestproject{
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 60% 60% 60%;
    margin: 110px;
    justify-content: space-evenly;
    text-align: center;
}
.latestproject>div{
    margin-top: 20px;
    border: 2px solid #000;
    padding: 20px;
    width: fit-content; 
    border-radius: 10px;
}
.latestproject>div>img{
    width: 80%;
    height:60%
}
.latestproject>div>a{
    margin-top: -25px;
    border: 2px solid black;
    margin-left: 130px;
    width: fit-content;
    border-radius: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
}
#pro1detail{
    margin-left: 12px;
    margin-top: auto;
}

@media screen and (max-width: 600px) {
    .latestproject{
        padding: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 35% 35%;
        margin: 10px;
        justify-content: space-between;
    }
    .latestproject>div{
        margin-top: 90px;
        padding: 10px;
    }
    .latestproject>div>img{
        width: 80%;
        height:50%
    }
  }
  @media screen and (max-width: 400px) {
    .latestproject{
        padding: 0px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 16% 16% 16% 16% 16% 16%;
        margin: 75px;
        justify-content: space-between;
    }
    .latestproject>div{
        margin-top: 90px;
        padding: 10px;
    }
    .latestproject>div>img{
        width: 80%;
        height:50%
    }
  }

#contact{
    padding-bottom: 230px;
    margin-top: 192px;
}
#contact>h1{
    padding-bottom: 130px;
    text-align: center;
}
.contactme{
    border: 2px solid black;
    padding: 15px;
    margin-left: 480px;
    width: 290px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.contactme>i{
    margin-right: 10px; 
}
.contactme>a{
    margin-left: -8px;
    text-decoration: none;
    color: black;
    margin-right: 17px;
}

@media screen and (max-width: 600px) {
    #contact{
        margin-top: 100px;
    }
    .contactme{
        margin-left: 100px;
    }
  }
  @media screen and (max-width: 400px) {
    #contact{
        margin-top: 100px;
    }
    .contactme{
        margin-left: 30px;
    }
  }


.footerlinks{
    padding: 10px;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 30px; 
    height: 50px; 
}
.footerlinks>a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    .footerlinks{
        padding: 10px;
        border-top: 2px solid black;
        display: flex;
        justify-content: center;
        gap: 20px; 
        height: 40px; 
    }
    .footerlinks>a{
        text-decoration: none;
        font-size: 15px;
        color: black;
        font-weight: bolder;
    }
  }


html{
    scroll-behavior: smooth;
}

